body {
  background-image: url('https://masumbillah6778.github.io/images/stone-bg.jpg');
  background-size: cover;
  position: relative;
}

.password-container {
  background-color: rgba(0, 0, 0 , .8);
  max-width: 500px;
  margin: 200px auto;
  padding: 20px;
  border: 2px solid yellow;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  color: yellow;
}
  
.password-input {
  background-color: transparent;
  color: yellow;
  width: 95.2%;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
  font-family: times;
  font-weight: bold;
  border: 2px solid yellow;
  border-radius: 5px;
}

.form-box input::placeholder {
  color: white;
  opacity: .3;
}
  
.password-button {
  background-color: green;
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: times;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
.password-button:hover {
  background-color: red;
}
  
#protected-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
}
