.content-box {
  background-image: url('https://masumbillah6778.github.io/images/stone-bg.jpg');
  background-size: cover;
  width: 650px;
  height: 650px;
  position: relative;
}

.form-box {
  background-color: rgba(0, 0, 0 , .8);
  width: 500px;
  height: 250px;
  margin: auto;
  padding: 10px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid yellow;
  border-radius: 25px;
  transform: translate(-50%, -50%);
}

.form-box h3 {
  text-align: center;
  color: yellow;
  padding: 15px 0px;
  font-size: 30px;
  font-family: times;
  border-bottom: 2px solid yellow;
}

.input-box {
  width: 100%;
  margin: 30px 20px;
}

.form-box input {
  background-color: transparent;
  color: yellow;
  width: 68%;
  padding: 10px;
  font-size: 20px;
  font-family: times;
  font-weight: bold;
}

.form-box input::placeholder {
  color: white;
  opacity: .3;
}

.form-box button {
  background-color: transparent;
  color: yellow;
  padding: 10px;
  font-size: 20px;
  font-family: times;
  font-weight: bold;
  cursor: pointer;
}

.form-box button:hover {
  background-color: rgba(0, 0, 0 , .1);
  color: white;
}
  
.input-box p {
  background: -webkit-linear-gradient(135deg, red, white, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
.input-box p#error {
  color: rgb(255,255,0);
  margin-top: 30px;
  font-size: 25px;
  font-family: times;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
  
  
  
  
  
@media only screen and (max-width: 600px) {
  .content-box {
    background-image: url('https://masumbillah6778.github.io/images/stone-bg2.jpg');
    background-size: cover;
    width: 350px;
    height: 350px;
  }
  
  .form-box {
    width: 280px;
    height: 180px;
    border: 2px solid red;
    border-radius: 25px;
  }
  
  .form-box h3 {
    color: yellow;
    padding: 5px 0px;
    font-size: 20px;
    border-bottom: 2px solid yellow;
  }
  
  .input-box {
    width: 100%;
    margin: 30px 10px;
  }
  
  .form-box input {
    color: yellow;
    width: 51%;
    padding: 10px;
    font-size: 20px;
  }
  
  .input-box p#error {
    color: rgb(255,255,0);
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
  }
}
